{% extends 'base.html.twig' %}

{% block title %}New Pokemon{% endblock %}


{% block body %}
    <h1 style="width:1200px; margin:0 auto; margin-top: 1%">Ajouter un Pokémon</h1>

    {{ include('pokemon/_form.html.twig') }}
{% endblock %}

